<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD5TDT_PGWXWyNe9RDEA31MoBJYRqSDYRc</string>
	<key>GCM_SENDER_ID</key>
	<string>243103591958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.manoDantukai</string>
	<key>PROJECT_ID</key>
	<string>dantukai-9fd66</string>
	<key>STORAGE_BUCKET</key>
	<string>dantukai-9fd66.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243103591958:ios:9b9f047a1066d388254f37</string>
</dict>
</plist>